.form-container{
  background-color: #fcd27c;
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto;
}

.user-input{
 display: block;
 width: 300px;
 border-radius: 8px;
 border: 1px solid #ccc;
 font-size: 25px;
 padding-left: 10px;
}

.login-button{
  font-size: 25px;
  background-color: #7c8bfc;
  color: white;
  margin: 10px;
  border-radius: 8px;
  border: 1px solid white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
